* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login {
  width: 100%;
  height: 100vh;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}
.login img {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#image-login {
  width: 100%;
  height: 100%;
}
.login h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
}
#img_happy {
  max-width: 100px;
}
.inp {
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 50px;
  box-shadow: -2px 0px 29px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 0px 29px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 29px -10px rgba(0, 0, 0, 0.75);
}
.btn1 {
  height: 50px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: rgb(160, 49, 182);
  color: white;
}
.btn1:hover {
  opacity: 0.8;
}
@media (max-width: 991px) {
  .login {
    height: 100%;
  }
}
